@if (detailTab()) {
  <p>{{neuReservation().id}}</p>
  <p>From: {{connection().fromStationName}}</p>
  <p>TO: {{connection().toStationName}}</p>
  <p>Date: {{connection().date}}</p>
  <p>Children: {{neuReservation().children?.length}}</p>
  <button (click)="renew()">Make Another Reservation</button>
} @else {

<h1>Train reservation</h1>
<p>Username</p>
<p>{{user()}}</p>
<form [formGroup]="reservationGroup" (ngSubmit)="reserve()">
  <input type="checkbox" id="firstClassBox" formControlName="firstClassBox">
  <label for="firstClassBox">First Class?</label>

  <button type="button" (click)="addChild()">Add Child</button>
  <div formArrayName="childrenArray">
  @for (child of childrenArray.controls; track child){
    <div [formGroupName]="$index">
    <h5>Child {{$index+1}}</h5> <button type="button" (click)="removeChild($index)">Remove</button>
      <label for="childName">Child Name</label>
      <input id="childName" type="text" formControlName="name">

      <label for="childAge">Child Age</label>
      <input id="childAge" type="number" formControlName="age">
    </div>
  }
  </div>
  <button type="submit">Reserve</button>

</form>
}
